@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: #ffffff;
    background: #979797;
    border: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background: #979797;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    font-family: 'Signika', sans-serif;
    display: none;
    width: 400px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #979797;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}

.side-panel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contactProfilePhoto {
    width: 100px; /* Or any other size */
    height: 100px; /* Or any other size */
}

.social-media-section {
    background-color: #f5f5f5; /* Off-white background */
    border: 0px solid gray; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Some padding */
}

.social-media-section a {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}

.social-media-section h3 {
    color: black;
}

.sources-section {
    background-color: #f5f5f5; /* Off-white background */
    border: 0px solid gray; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Some padding */
}

.sources-section a {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.sources-section h3 {
    color: black;
}